button {
  background-color: #795548;
  border-radius: 5px;
  color: white;
  color: white;
  border: 1px;
  height: 36px;
  width: 100px;
  text-transform: uppercase;
  cursor: pointer;
  outline: unset;
}

button:active {
  background-color: #c4aca3;
}