table {
	background-image: url(/wood-player.jpg);
	border-radius: 12px;
	border-collapse: separate;
	border-spacing: 20px;
}

td {
	cursor: pointer;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background-color: white;
	padding: unset;
}

td.red-wins {
	box-shadow: 0 0 8px 6px #ffa8a8;
	animation: flickering 1.5s infinite;
}

td.blue-wins {
	box-shadow: 0 0 8px 6px #a2a2ff;
	animation: flickering 1.5s infinite;
}

@keyframes flickering {
  0%   { opacity:1; }
  50%  { opacity:0.4; }
  100% { opacity:1; }
}